<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <div class="container-fluid">

        <div class="row d-flex justify-content-end border-bottom border-white">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">

                <!--<button class="btn btn-transparent text-white mb-2 border-white" type="button">Login</button>-->
                <a href="#" class="btn btn-transparent text-white mb-2 border-white"> Home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="https://res.cloudinary.com/dkym2nit2/image/upload/v1665904325/WhatsApp_Image_2022-10-16_at_04.11.00_ivy74s.jpg"
                    class="w-100 img-fluid mx-auto d-block rounded mt-3" alt="Me">
                <p class="text-white text-center mt-3"> ¡Bienvenido! Mi nombre es Rocío, y este es mi blog personal
                    dedicado a las auroras boreales</p>
                <div class="row">
                    <a href="/menu/about" class="text-white text-center mt-3 text-effect">Sobre este Blog</a>
                </div>
                <div class="row">
                    <a href="/menu/imagenes" class="text-white text-center mt-3 text-effect">Imágenes</a>
                </div>
                <!--<div class="row">
                    <a href="/menu/videos" class="text-white text-center mt-3 text-effect">Videos</a>
                </div>-->
                <div class="row">
                    <a href="/menu/info" class="text-white text-center mt-3 mb-5 text-effect">Información</a>
                </div>

            </div>
            <div class="col">
                <!--Acá van los posteos-->
                <div class="container w-80">

                    <div class="d-flex justify-content-start">
                        <a href="/articles/new" class="btn btn-transparent text-white mt-5 border-white">Nuevo Post
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </a>
                    </div>


                    <% articles.forEach(article=> { %>
                        <div class="card mt-5 bg-transparent">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-10">
                                            <h4 class="text-white text-center">
                                                <%= article.title %>
                                            </h4>
                                            <p class="card-text text-white text-center">
                                                <%= article.markdown %>
                                            </p>
                                        </div>
                                        <div class="col text-end text-white">
                                            <%= article.createdAt.toLocaleDateString() %>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a href="articles/<%= article.slug %> " class="btn btn-transparent text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                            <path
                                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                        </svg>
                                    </a>
                                    <a href="articles/edit/<%= article.id %> " class="btn btn-transparent text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path
                                                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                        </svg>
                                    </a>
                                    <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-transparent text-white" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Eliminar
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </button>
                                        <!--Modal contenido-->

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                Va a eliminar el artículo...
                                                </div>
                                                <div class="modal-footer">
                                                <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                <button type="submit" class="btn btn-primary">Entendido</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>

                                        <!--Modal Contenido-->
                                    </form>
                                </div>

                            </div>
                        </div>

                        <% }) %>

                </div>

            </div>
        </div>

        <div class="row border-top border-white">
            <p class="text-center text-white pe-3 mt-2">© 2022 - Rocío Calderón</p>
        </div>

    </div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>

</html>